.simple-calendar {
margin-top: 2vh;
  .calendar-heading {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;

    a {
      color: green;
    }
  }
  .table-striped {
    background-color: white;
  }
  .day{
    a {
      color: black;
      border: none;
    }

    a:hover {
      text-decoration: none;
      font-weight: bold;
      color: black;
    }

  }
}

.simple-calendar .today {
  background: #ff000078!important;
  border-radius: 3px!important;
  opacity: 0.8;
}
