<div class="container text-center">
  <h1 class="mt-5">ABOUT US</h1>
  <p class="mt-5">This website was made during the last two weeks of a 9 week cooding bootcamp at Lewagon Lisbon. We created it to help people avoiding strikes. These happen on a daily basis and if not informed, sooner or later we could be affected when least convinient. We hope you enjoy using it as much as we enjoyed creating it.</p>
  <div class="footer-links-about mt-3">
    <a href="https://github.com/pacmanreis" target="_blank"><i class="fab fa-github"></i></a>
      <strong>Paulo Reis</strong>
    <a href="https://www.linkedin.com/in/paulo-reis-955411186/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links-about mt-1">
    <a href="https://github.com/francisco-gaspar" target="_blank"><i class="fab fa-github"></i></a>
     <strong>Francisco Gaspar</strong>
    <a href="https://www.linkedin.com/in/francisco-gaspar-321388150/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links-about mt-1">
    <a href="https://github.com/bokac88" target="_blank"><i class="fab fa-github"></i></a>
     <strong>Boris Đurišić</strong>
    <a href="https://www.linkedin.com/in/boris-djurisic/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <p class="mt-5">Contact us on <strong><a href="mailto: recoveralertagreves@gmail.com" target="_blank">recoveralertagreves@gmail.com</p></strong>
</div>
