<div class="container text-center">
  <h1 class="mt-5"><%= t :about_us %></h1>
  <p class="mt-5"><%= t :about_description %></p>
  <div class="footer-links-about mt-3">
    <a href="https://github.com/pacmanreis" target="_blank"><i class="fab fa-github"></i></a>
      <strong>Paulo Reis</strong>
    <a href="https://www.linkedin.com/in/paulo-reis-955411186/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links-about mt-1">
    <a href="https://github.com/francisco-gaspar" target="_blank"><i class="fab fa-github"></i></a>
     <strong>Francisco Gaspar</strong>
    <a href="https://www.linkedin.com/in/francisco-gaspar-321388150/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links-about mt-1">
    <a href="https://github.com/bokac88" target="_blank"><i class="fab fa-github"></i></a>
     <strong>Boris Đurišić</strong>
    <a href="https://www.linkedin.com/in/boris-djurisic/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <p class="mt-5"><%= t :contact %> <strong><a href="mailto: recoveralertagreves@gmail.com" target="_blank">alertagreves@gmail.com</p></strong>
</div>
