<%= month_calendar events: @strikes do |date, strikes| %>
  <%= date.day %>

  <% strikes.each do |strike| %>
    <div>
      <%= link_to "#{strike.category.name}", strike_path(strike.id) %>
    </div>
  <% end %>
<% end %>
