<div id="strikes-container" class="container-fluid">
  <div class="accordion" id="accordionExample">
    <%= render 'strikes/filtered_list', strikes: @grouped_strikes %>
  </div>
</div>

<%= render 'shared/footer' %>
