<div class="filter-mobile">
  <div class="list">
    <hr class="hr-text" data-content="Filter by:">
    <% @categories.each do |category| %>
      <% if category.strikes.present? && (Strike.where("start_date >= :date AND category_id = :category",
                                                      date: Date.today, category: category.id).present? ||
                                                      Strike.where("start_date <= :date AND end_date >= :date AND category_id = :category",
                                                      date: Date.today, category: category.id).present?) %>
        <%= link_to strikes_path(category_id: category.id), class: "nav-link" do %>
          <div class="sub-category">
            <%= category.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to strikes_path(category_id: "all"), class: "nav-link" do %>
      <div class="extremes_buttons">
        Remove Filter
      </div>
    <% end %>
  </div>
</div>
