<h1 class="text-center h4"><%= t :results %></h1>

<div id="strikes-container">
  <div id="accordionExample">
    <% if @strikes.any? %>
      <% @strikes.each do |strike| %>
        <%= render 'shared/card', strike: strike %>
      <% end %>
    <% else %>
      <h3 class="text-center my-5 h4"><%= t :results_found %></h3>
    <% end %>
  </div>
</div>
