<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "[#{@strike.category.name}] #{@strike.organization} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Date: #{@strike.start_date} #{@strike.description}" %>

<% content_for :meta_image, image_path("meta_image.png") %>

<h1 class="text-center h4">SHOW</h1>

<div id="strikes-container">
  <div id="accordionExample">
    <%= render 'shared/card', strike: @strike %>
  </div>
</div>
