<% content_for :meta_title, "[#{@strike.category.name}; #{@strike.start_date}] #{@strike.organization} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{@strike.description}" %>

<% content_for :meta_image, image_path("meta_image.png") %>

<div id="strikes-container" class="mt-4">
  <div id="accordionExample">
    <%= render 'shared/card', strike: @strike %>
  </div>
</div>
