<% content_for :meta_title, "#{@strike.start_date.strftime("%A: %d/%m/%y")} - Greve #{@strike.organization}" %>
<% content_for :meta_description, @strike.description %>

<% content_for :meta_image, image_path("meta_image.png") %>

<div id="strikes-container" class="mt-4">
  <div id="accordionExample">
    <%= render 'shared/card', strike: @strike %>
  </div>
</div>
