<div class="filter" >
  <%= link_to "All strikes", strikes_path(category_id: "all"), remote: true %>
  <hr class="hr-text">
  <h5>Filter by category</h5>
  <ul class="list-unstyled">
    <% @categories.each do |category| %>
      <% if category.strikes.present? %>
        <li>
          <%= link_to category.name, strikes_path(category_id: category.id), remote: true %>
        </li>
      <% end %>
    <% end %>     
  </ul>
  <hr class="hr-text">
  <%= link_to 'Calendar View', calendar_strikes_path %>
</div>
