.card-design {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;

  .all-content {
    align-items: center;
    width: -webkit-fill-available;

    .card-top-content {
      justify-content: center;
      width: 100%;
      margin-bottom: -10px;
      padding-bottom: 0px;
    }

    :hover {
      text-decoration: none;
    }

    .category {
      display: flex;
      align-items: center;
      overflow: hidden;
      text-decoration: none;
      color: black;
      justify-content: center;

      .logo {
        width: 40px;

        .fas {
          border-radius: 50%;
          padding: 6px;
          font-size: 20px;
          width: 40px;
          height: 40px;
          text-align: center;
        }
      }
    }

    .dates {
      color: black;
    }

    .action-buttons {
      display: flex;
      justify-content: space-around;

      .hidden-btn {
        background: transparent;
        border: none;
      }
    }
  }
}
