.menu {
  display: none;
}

.menu-desktop {
  font-size: 20px;
  padding: 15px;
}

@include media-breakpoint-up(sm) {
  .menu {
    display: block;
    height: 90vh;
    position: sticky;
    top: 60px;
  }
}
