.navbar-lewagon {
  justify-content: space-between;
  background: #27AE60;
  font-size: 20px;
  align-items: end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-toggler {
  border-color: none !important;
  border-style: hidden;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.title {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.nav-link {
  color: white !important;
}

.language {
  color: white !important;
  font-size: 18px;
  vertical-align: middle;
  text-decoration: none !important;
}

// Search Form

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: -webkit-fill-available;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

#expand input[type=search] {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#expand input[type=search]:hover {
  background-color: #fff;
}
#expand input[type=search]:focus {
  width: -webkit-fill-available;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#expand input:-moz-placeholder {
  color: transparent;
}
#expand input::-webkit-input-placeholder {
  color: transparent;
}
