.navbar-lewagon {
  justify-content: space-between;
  background: #27AE60;
  font-size: 20px;
  align-items: end;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-toggler {
  border-color: none !important;
  border-style: hidden;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.title {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.nav-link {
  color: white !important;
}

.language {
  color: white;
  font-size: 18px;
  vertical-align: middle;
}
