<div class="container">
  <h1>Alerta Greves</h1>
  <h3>Hi <%= @user.email %></h3>

  <p>We are letting you know that next week you have <%= link_to "strikes", reminders_url %> happening in your area.</p>
</div>


<style>
  h1 {
  text-align: center;
  background: #27AE60;
  padding: 15px 0;
  color: white;
  }

  h3 {
    text-decoration: none;
    text-align: center;
  }

  .container {
    margin: 0 auto;
    width: 700px;
  }

</style>